@import "NullMyCss.scss";

body {
  font-family: "PT Sans", sans-serif;

  &.lock {
    overflow: hidden;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////


.header {
  height: 75px;
  background-color: #1c242a;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__body {
    @media (max-width: 890px) {
      display: block;
      background-color: #1c242a;
      width: 100%;
      height: 75px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .header__logo
  &__logo {
    @media (max-width: 890px) {
      flex: 0 1 50%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
      img {
        transform: translate(50%, 0);
      }
    }
    @media (max-width: 300px) {
      img {
        transform: translate(40%, 0);
      }
    }
  }

  // .header__menu
  &__menu {
    flex: 1 1 auto;
    @media (max-width: 890px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(28, 36, 42, .8);
      overflow: auto;
      transition: all 0.3s ease 0s;
      transform: translateY(-100%);
    }

    &.active {
      transform: translateY(0);
    }
  }

  // .header__links
  &__links {
    display: flex;
    justify-content: center;
    padding: 0 0 0 30px/950px*100%;

    li {
      margin: 0 15px;
    }

    @media (max-width: 890px) {
      flex-direction: column;
      align-items: center;
      padding: 70px 0 0 0;
      li {
        margin: 40px 0 0 0;
      }

    }
  }

  // .header__link
  &__link {
    font-size: 14px;
    font-family: "PFDinTextCondPro-Regular", sans-serif;
    line-height: 1.5;
    letter-spacing: 1.4px;
    color: #fff;
    text-transform: uppercase;

    @media (min-width: 914px) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 890px) {
      font-size: 22px;
    }
  }

  // .header__icon
  &__icon {
    @media (max-width: 890px) {
      display: block;

    }
    display: none;
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 28px;
    left: 15px;

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #bb9c66;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s ease 0s;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #bb9c66;
      transition: all 0.3s ease 0s;
    }

    &:after {
      bottom: 0;
    }

    &:before {
      top: 0;
    }
  }

  .active {
    span {
      opacity: 0;
      visibility: hidden;
    }

    &:after {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &:before {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.action-header {
  display: flex;
  align-items: center;
  @media (max-width: 380px) {
    flex-direction: column;
    align-items: flex-end;
  }
  @media (max-width: 890px) {
    flex: 0 1 50%;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
  // .action-header__region
  &__region {
    @extend .header__link;
    padding: 0 0 0 28px;
    line-height: 18px;
    background: url("../../img/region.png") left no-repeat;
    @media (max-width: 890px) {
      padding: 0;
      font-size: 0;
    }
    @media (max-width: 380px) {
      transform: translate(-50%, 0);
    }
  }

  // .action-header__user
  &__user {
  }
}

.user-action {
  margin: 0 0 0 31px;
  @media (max-width: 890px) {
    margin: 0 0 0 15px;
  }
  @media (max-width: 380px) {
    margin: 10px 0 0 0;
  }
  // .user-action__img
  &__img {

  }

  // .user-action__list
  &__list {
    &.active {
      visibility: visible;
      opacity: 1;
    }

    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 78px;
    padding: 20px;
    background-color: #1c242a;
    transition: all 0.3s ease 0s;
    @media (max-width: 890px) {
      right: -10px;
      top: 50px;
    }
    @media (max-width: 380px) {
      top: 65px;
    }

    li {
      margin: 0 0 15px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  // .user-action__link
  &__link {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    padding: 0 0 0 28px;
    line-height: 18px;

    @media (min-width: 914px) {
      &:hover {
        text-decoration: underline;
      }
    }
    // .user-action__link_1
    &_1 {
      background: url("../../img/user/01.png") 1px center no-repeat;
    }

    // .user-action__link_2
    &_2 {
      background: url("../../img/user/02.png") left center no-repeat;
    }

    // .user-action__link_3
    &_3 {
      background: url("../../img/user/03.png") 4px center no-repeat;
    }

    // .user-action__link_4
    &_4 {
      background: url("../../img/user/04.png") left center no-repeat;
    }
  }
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////


.main-screen {
  position: relative;
  height: 100%;

  &__body {

  }

  // .main-screen__swiper
  &__swiper {

  }

  // .main-screen__wrapper
  &__wrapper {

  }

  // .main-screen__control
  &__control {
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


}

.swiper-main {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 35px 15px 100px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 890px) {
    //padding: 35px 0 20px 0;
  }
  // .swiper-main__slide
  &__slide {
    padding: 0 15px;
    position: relative;
    z-index: 3;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .swiper-main__title
  &__title {
  }

  // .swiper-main__text
  &__text {
    max-width: 690px;
    margin: 25px auto 55px auto;
    font-size: 15px;
    line-height: 1.67;
    color: #fff;
    flex: 1 1 auto;
  }

  // .swiper-main__butt
  &__butt {

  }
}

.title {
  // .title__title
  &__title {
    font-size: 40px;
    font-family: "Ceremonious One", sans-serif;
    line-height: 40px;
    letter-spacing: normal;
    text-align: center;
    color: #bb9c66;
  }

  // .title__sub-title
  &__sub-title {
    font-size: 35px;
    font-family: "PFDinTextCondPro-Regular", sans-serif;
    line-height: 1;
    letter-spacing: 5.25px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin: 25px 0 0 0;

    &_w {
      color: #fff;
    }

    @media (max-width: 850px) {
      font-size: 30px;
    }
    @media (max-width: 350px) {
      font-size: 25px;
    }
  }
}


.butt {
  display: inline-block;
  position: relative;

  &_big {
    .butt__body {
      &:before {
        content: none;
      }

      span {
        font-size: 21px;
        line-height: 1.19;
        color: #000;
        padding: 0 30px;
        letter-spacing: 0;
        font-family: "PFDinTextCondPro-Medium", sans-serif;

      }
    }
  }

  &__body {
    display: inline-block;
    position: relative;
    height: 100%;

    &:before {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      opacity: 0.06;
      background: linear-gradient(to top, #bb9c66, #bb9c66);
      transition: all 0.6s ease 0s;
    }

    span {
      font-family: "Idealist Sans", sans-serif;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 53px;
      min-height: 50px;
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 1.5px;
      color: #fff;
      text-transform: uppercase;
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        top: 0;
        background-image: linear-gradient(to top, #8e652f, #c3a673);
      }

      &:after {
        right: 0;
      }

      &:before {
        left: 0;
      }
    }

    &:hover {
      &:before {
        height: 100%;
        opacity: .15;
      }
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
  }

  &:before {
    top: 0;
    background-color: #c3a673;
  }

  &:after {
    bottom: 0;
    background-color: #8e652f;
  }
}

.main-screen {
  // .main-screen__control
  &__control {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.control-main-screen {
  // .control-main-screen__decor
  &__decor {
    width: 70%;
    height: 70%;
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

    img {
      animation-name: rotate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
  }

  // .control-main-screen__arrow
  &__arrow {
    cursor: pointer;
    background: url("../../img/arrow.svg");
    width: 14px;
    height: 24px;
    position: absolute;
    z-index: 3;
    // .control-main-screen__arrow_prev
    &_prev {
      left: 10px;
    }

    // .control-main-screen__arrow_next
    &_next {
      transform: rotate(180deg);
      right: 10px;
    }
  }
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-slider {
  position: relative;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.lots {
  padding: 85px 0 60px 0;
  // .lots__header
  &__header {
    &__title {
      margin: 0 0 20px 0;
    }
  }

  &__control {

  }

  // .lots__body
  &__body {
  }

  // .lots__swiper
  &__swiper {
    margin: 0 -50px 50px -50px;
  }

  // .lots__slide
  &__slide {
    padding: 0 50px;
  }

  @media (max-width: 960px) {
    &__slide {
      padding: 0 25px;
    }
    &__swiper {
      margin: 0 -25px 50px -25px;
    }
  }
  @media (max-width: 860px) {
    &__slide {
      padding: 0 60px;
    }
    &__swiper {
      margin: 0 -50px 50px -50px;
    }
  }
  @media (max-width: 600px) {
    &__slide {
      padding: 0 20px;
    }
    &__swiper {
      margin: 0 -20px 50px -20px;
    }
  }
  @media (max-width: 510px) {
    &__swiper {
      margin: 0 10% 50px 10%;
    }
  }
  @media (max-width: 400px) {
    &__swiper {
      margin: 0 3% 20px 3%;
    }
  }

  &__wrapper {

  }
}

.decor-block {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
  // .decor-block__item
  &__item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    &:last-child {
      flex-direction: row-reverse;

      span {
        flex-direction: row-reverse;
      }
    }

    &:after {
      content: "";
      width: 25px/100* 72;
      height: 25px/100* 72;
      flex: 0 0 25px/100* 72;
      border: solid 1px #bb9c66;
      transform: rotate(-45deg);
      margin: 0 5px;
    }

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      flex: 1 1 auto;
      background-color: #bb9c66;
    }

    span {
      display: flex;
      align-items: center;
      margin: 0 5px;

      &:after {
        content: "";
        width: 15px*0.7;
        height: 15px*0.7;
        //flex: 1 1 25px*0.69;
        border: solid 1px #bb9c66;
        transform: rotate(45deg);
      }

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        flex: 1 1 10px;
        border: solid 1px #bb9c66;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
  }

  // .decor-block__img
  &__img {
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 70px;
    }

    @media (max-width: 500px) {
      flex: 0 1 100px;
    }
  }
}

.control-lots {
  height: 100px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // .control-lots__arrow
  &__arrow {
    cursor: pointer;
    @media (max-width: 440px) {
      img {
        width: 100px;
      }
    }
    @media (max-width: 340px) {
      img {
        width: 80px;
      }
    }
    // .control-lots__arrow_prev
    &_prev {

    }

    // .control-lots__arrow_next
    &_next {
      transform: rotate(180deg);
    }
  }

  // .control-lots__text
  &__text {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 21px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.19;
    color: #000;
    text-transform: uppercase;

    &:after {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      background: url("../../img/lots/circle-lots.png");

    }

    @media (max-width: 380px) {
      &:after {
        width: 80px;
        height: 80px;
        background: url("../../img/lots/circle-lots-mini.png");
      }
      font-size: 17px;
      flex: 0 0 120px;
    }
  }
}

.lot {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  // .lot__header
  &__header {
  }

  &__body {
  }


  &__title {
    position: relative;
    z-index: 2;
    font-size: 21px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.19;
    color: #000;
    text-transform: uppercase;
    flex: 1 1 auto;
    margin: 0 0 30px 0;
    @media (max-width: 660px) {
      font-size: 19px;
    }
  }

}

.info-lot {
  display: flex;
  justify-content: center;
  margin: 0 0 25px 0;
  width: 100%;
  // .info-lot__view
  &__view {
    flex: 0 0 50px;
    @media (max-width: 660px) {
      flex: 0 0 40px;
    }
  }

  // .info-lot__bet
  &__bet {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      width: 71px;
      height: 71px;
      border: 1px solid #bb9c66;
      transform: rotate(45deg);
    }
  }
}

.view-lot {
  // .view-lot__icon
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    height: 25px;

    &_hand {
      left: 1px;
    }

    img {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100% * 0.72;
      height: 100% * 0.72;
      background-color: #000;
      transform: rotate(45deg);
    }

    margin: 0 0 7px 0;
  }

  // .view-lot__view
  &__view {
    font-size: 14px;
    color: #000;
    width: 100%;
    padding: 0 0 3px 0;
    border-bottom: 1px solid #bb9c66;
  }
}

.bet-lot-info {
  // .bet-lot-info__lable
  &__lable {
    font-size: 14px;
    line-height: 1.79;
    color: #000;
    position: relative;
    z-index: 2;
    font-weight: 600;
  }

  // .bet-lot-info__price
  &__price {
    font-size: 50px;
    font-family: "BravoRG", sans-serif;
    line-height: 42px;
    color: #1c242a;
    margin: 10px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 660px) {
      font-size: 42px;
    }
  }

  // .bet-lot-info__valute
  &__valute {
    font-size: 14px;
    font-family: "BravoRG", sans-serif;
    color: #1c242a;
    font-weight: 600;
  }
}


.head-lot {
  // .head-lot__img
  position: relative;
  margin: 0 0 30px 0;
  width: 100%;

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #bb9c66;
  }

  &__item {
    display: inline-block;
    padding: 0 0 98% 0;
    height: 100%;
  }

  // .head-lot__timer
  &__timer {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 65%);
    display: inline-block;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      width: 100px * 0.71;
      height: 100px * 0.71;
      background-color: #fff;
      top: 0;
      transform: rotate(45deg);
      left: 15%;
    }
  }
}

.time-lot {
  // .time-lot__icon
  &__icon {
    position: relative;
    z-index: 2;
    margin: 0 0 5px 0;
  }

  // .time-lot__time
  &__time {
    position: relative;
    z-index: 2;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
}


/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.categories {
  // .categories__header
  &__header {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      bottom: 0;
      background-color: #fff;
    }
  }

  .container {
    overflow: hidden;
  }

  // .categories__row
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -50px;
    padding: 40px 0 0 0;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      width: 24px*0.71;
      height: 24px*0.71;
      flex: 0 0 24px*0.71;
      margin: 0 0 0 -2px;
      transform: rotate(45deg) translateX(-50%);
      border: 1px solid #bb9c66;
      z-index: 4;
    }

    &:before {
      left: 33.333%;
    }

    &:after {
      left: 66.667%;
    }

    @media (max-width: 990px) {
      &:before {
        content: none;
      }
      &:after {
        left: 50%;
      }
    }
  }

  // .categories__column
  &__column {
    flex: 0 1 33.333%;
    padding: 0 50px 25px;
    margin: 0 0 25px 0;
    position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 990px) {
      flex: 0 1 50%;
    }
    @media (max-width: 650px) {
      flex: 0 1 100%;
    }

    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      flex: 0 0 10px;
      background-color: #bb9c66;
      border-radius: 50%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  // .categories__item
  &__item {
  }

  // .categories__body
  &__body {
  }

  &__decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(50%, 0);
    width: 24px;
    height: 102.5%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    &:after {
      content: "";
      width: 24px*0.71;
      height: 24px*0.71;
      flex: 0 0 24px*0.71;
      transform: rotate(45deg);
      border: 1px solid #bb9c66;
    }

    &:before {
      content: "";
      width: 1px;
      background-color: #bb9c66;
      flex: 1 1 auto;
    }

    span {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:after {
        content: "";
        width: 1px;
        flex: 1 1 auto;
        background-color: #bb9c66;
        margin: 0 0 15px 0;
      }

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
        background-color: #bb9c66;
        border-radius: 50%;
        margin: 20px 0;
      }

    }
  }

  &__body {
  }
}

.item {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transition: all 0.8s ease 0s;

  &:hover {
    .item__bg {
      transform: scale(1.1);
    }
  }

  // .item__link
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 40px 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  // .item__icon
  &__icon {
    position: relative;
    z-index: 2;
    margin: 0 0 25px 0;
  }

  // .item__text
  &__text {
    position: relative;
    z-index: 2;
    font-size: 21px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.19;
    letter-spacing: 2.1px;
    color: #fff;
    text-transform: uppercase;
    flex: 1 1 auto;
    text-align: center;
    padding: 0 20px;
  }

  // .item__decor
  &__decor {
    position: relative;
    z-index: 2;
  }

  // .item__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease 0s;

    img {
      border-radius: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .65);
      border-radius: 50%;
    }
  }
}

.body-block {
  padding: 0 0 75px 0;
  @media (max-width: 920px) {
    padding: 0 0 40px 0;
  }
  // .body-block__item
  &__item {
    padding: 20px 0 25px 130px;
    margin: 85px 0 0 0;
    font-size: 15px;
    line-height: 1.67;
    color: #333;
    position: relative;
    background: url("../../img/categories/decor.png") left top repeat-y;

    p {
      margin: 0 0 25px 0;

      &:last-child {
        margin: 0;
      }
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 85px;
      height: 11px;
      top: -5px;
      left: 0;
      background: url("../../img/categories/decor-mini.png") left top no-repeat;
    }
  }
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.support {
  padding: 60px 0 80px 0;
  background-color: #1c242a;
  @media (max-width: 890px) {
    padding: 30px 0 50px 0;
  }
  // .support__header
  &__header {
  }

  // .support__row
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -48px;
  }

  // .support__column
  &__column {
    flex: 0 1 33.333%;
    padding: 0 48px;
  }

  @media (max-width: 1100px) {
    &__row {
      margin: 0 -24px;
    }
    &__column {
      padding: 0 24px;
    }
  }

  @media (max-width: 890px) {
    &__column {
      flex: 0 1 100%;
      margin: 0 0 50px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  // .support__item
  &__item {
  }
}

.item-support {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0 auto;
  max-width: 255px;
  height: 100%;
  // .item-support__img
  &__img {
    position: relative;
    flex: 0 0 188px;
    width: 188px;
    transition: all 0.8s ease 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  // .item-support__lable
  &__lable {
    position: relative;
    font-size: 21px;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.19;
    letter-spacing: 2.1px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    flex: 1 1 auto;
  }

  // .item-support__text
  &__text {
    position: relative;
    font-size: 15px;
    line-height: 1.67;
    color: #bb9c66;
    margin: 0 0 30px 0;
  }

  // .item-support__button
  &__button {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;

    span {
      font-size: 21px;
      font-weight: 500;
      font-family: "PFDinTextCondPro-Medium", sans-serif;
      line-height: 1.17;
      letter-spacing: 2.1px;
      color: #fff;
      text-transform: uppercase;
      flex: 0 0 150px;

      &:hover {
        text-decoration: underline;
      }
    }

    &:before,
    &:after {
      content: "";
      flex: 1 1 auto;
      background-color: #bb9c66;
      height: 1px;
    }
  }
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.interesting {
  padding: 65px 0 80px 0;
  // .interesting__header
  &__header {
  }

  // .interesting__body
  &__body {
  }


}

.header-interesting {
  margin: 0 0 75px 0;
  // .header-interesting__header
  &__slide {
    @media (max-width: 580px) {
      margin: 0 0 20px 0;
    }
    @media (max-width: 480px) {
      margin: 0 0 30px 0;
    }
  }
}

.item-quote {
  max-width: 800px;
  margin: 0 auto;

  height: 100%;
  // .item-quote__row
  &__row {
    height: 100%;
    display: flex;

    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  // .item-quote__img
  &__img {
  }

  // .item-quote__body
  &__body {
    padding: 50px 0;
    margin: 0 0 0 65px;
    @media (max-width: 580px) {
      padding: 30px 0 0 0;
    }
    @media (max-width: 480px) {
      margin: 15px 0 0 0;
      padding: 0;
      height: 100%;
    }
    display: flex;
    flex-direction: column;
  }

  // .item-quote__text
  &__text {
    font-size: 25px;
    font-style: italic;
    line-height: 1.2;
    color: #000;
    flex: 1 1 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    @media (max-width: 480px) {
      margin: 0 0 20px 0;
    }
  }

  // .item-quote__directed
  &__directed {
    font-size: 15px;
    line-height: 1.67;
    color: #1c242a;

  }
}

.control-interesting {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 50px;
  // .control-interesting__decor
  &__decor {
    display: flex;
    align-items: center;
    width: 100%;

    &:before {
      content: "";
      flex: 1 1 auto;
      height: 1px;
      background: #bb9c66;
    }

    &:after {
      content: "";
      height: 10px;
      width: 10px;
      flex: 0 0 10px;
      border: 1px solid #bb9c66;
      border-radius: 50%;
      margin: 0 5px;
    }

    // .control-interesting__decor_l
    &_l {
    }

    // .control-interesting__decor_r
    &_r {
      flex-direction: row-reverse;
    }
  }

  // .control-interesting__icon
  &__icon {
    justify-content: center;
    display: flex;
    flex: 0 0 140px;
    width: 50px;
    height: 100%;

    img {
      height: 21px;
      width: 20px;
      animation-name: rotate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }

    &_wrapper {
      cursor: pointer;
      border: 1px solid #bb9c66;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.body-interesting {
  // .body-interesting__head
  &__head {
    margin: 0 0 55px 0;
  }

  // .body-interesting__footer
  &__footer {
  }

  &__row {
    display: flex;
    margin: 0 -42.5px;
    @media (max-width: 750px) {
      margin: 0 -21px;
    }
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__footer {
    // .body-interesting__footer__row
    &__row {
      display: flex;
      margin: 0 -40px;
      @media (max-width: 750px) {
        margin: 0 -20px;
      }
      @media (max-width: 650px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
      }
    }

    // .body-interesting__footer__subscribe
    &__subscribe {
      padding: 0 40px;

      &.info-block {
        padding: 0 40px;
      }

      @media (max-width: 750px) {
        padding: 0 20px;
        &.info-block {
          padding: 0 20px;
        }
      }
      @media (max-width: 650px) {
        padding: 0;
        &.info-block {
          padding: 0;
        }
      }
    }
  }
}

.info-block {
  flex: 0 1 50%;
  padding: 0 42.5px;
  @media (max-width: 750px) {
    padding: 0 21px;
  }
  @media (max-width: 650px) {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 40px;
  }
  // .info-block__title
  &__title {
    font-size: 35px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 0.71;
    letter-spacing: 3.5px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 25px 0;

    i {
      margin: 0 15px 0 0;
    }
  }

  // .info-block__column
  &__column {
    margin: 0 0 25px 0;

    &:last-child {
      margin: 0;
    }
  }

  // .info-block__date
  &__date {
    font-size: 12px;
    color: #bb9c66;
    line-height: 1.67 / 12;
    margin: 0 0 10px 0;
  }

  // .info-block__lable
  &__lable {
    font-size: 15px;
    line-height: 1.67 / 15;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    //margin: 0 0 5px 0;
  }

  // .info-block__text
  &__text {
    font-size: 15px;
    line-height: 1.67;
    color: #333;
  }
}

.subscribe-block {
  flex: 1 1 auto;
  margin: 57px 40px 0 40px;
  @media (max-width: 750px) {
    margin: 57px 20px 0 20px;
  }
  @media (max-width: 650px) {
    margin: 15px 0 0 0;
    max-width: 400px;
  }
  padding: 0;
  display: flex;
  border: 3px solid #bb9c66;
  height: 50px;
  // .subscribe-block__input
  &__input {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    font-size: 15px;
    line-height: 1.67;
    color: #4f4f4f;
  }

  // .subscribe-block__butt
  &__butt {
    flex: 0 1 105px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.19;
    letter-spacing: 2.1px;
    color: #1c242a;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0 0 0 20px;

    &:before {
      content: "";
      width: 1px;
      height: 32px;
      background-color: #bb9c66;
      position: absolute;
      display: inline-block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      content: "";
      background: url("../../img/icons/arrow.png");
      position: absolute;
      right: 10px;
      width: 25px;
      height: 17px;
      flex: 0 0 17px;
    }

    &:hover {
      &:after {
        animation-name: toRight;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
      }
    }

    @media (max-width: 650px) {
      flex: 0 1 80px;
      &:after {
        content: none;
      }
    }
  }
}

@keyframes toRight {
  0% {
    right: 10px;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 10px;
  }
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

.footer {
  padding: 45px 0;
  background-color: #1c242a;
  @media (max-width: 950px) {
    padding: 30px 0;
  }
  .container {
    display: flex;
    align-items: center;
    @media (max-width: 950px) {
      flex-direction: column;
    }
  }

  // .footer__logo
  &__logo {
    flex: 0 0 180px;
    @media (max-width: 950px) {
      flex: none;
    }
  }

  // .footer__icon
  &__icon {
    margin: 0 0 25px 0;
  }

  // .footer__directed
  &__directed {
    font-size: 14px;
    line-height: 1.5 / 14;
    color: #bb9c66;
  }

  // .footer__menu
  &__menu {
    flex: 0 1 470px;
    display: flex;
    justify-content: center;
    margin: 0 0 0 25px;
    @media (max-width: 1000px) {
      margin: 0 25px;
    }
    @media (max-width: 950px) {
      margin: 30px 0;
      flex: none;
      max-width: 470px;
    }
  }

  // .footer__links
  &__links {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      justify-content: center;
    }

    li {
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  // .footer__link
  &__link {
    font-size: 14px;
    font-weight: 500;
    font-family: "PFDinTextCondPro-Medium", sans-serif;
    line-height: 1.79;
    letter-spacing: 1.4px;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  // .footer__contact
  &__contact {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  // .footer__number
  &__number {
    font-family: "BravoRG", sans-serif;
    line-height: 45px;
    font-size: 50px;
    color: #bb9c66;
    position: relative;
    margin: 0 0 5px 0;
    display: inline-block;
    padding: 0 0 0 20px;

    &:before {
      content: "+7";
      line-height: normal;
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .footer__feedback
  &__feedback {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    color: #bb9c66;
    padding: 0 0 0 13px;
    background: url("../../img/icons/arrow-footer.svg") left no-repeat;

    &:hover {
      text-decoration: underline dashed;
    }
  }
}

